# Ignore node_modules and vendor directories
node_modules
vendor

# Ignore build output directories
public
storage

# Ignore environment and configuration files
.env
.env.*.local

# Ignore specific file types
*.min.js
*.min.css

# Ignore log files and temporary files
*.log
*.tmp

# Ignore compiled files
resources/views/vendor/**/*.php

# Ignore Blade cache files
bootstrap/cache/*.php

# Ignore VCS directories
.git
.svn
.hg

# Ignore IDE specific files
.vscode
.idea

artisan
