@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'perfect-scrollbar/css/perfect-scrollbar.css';
@import 'tailwindcss/utilities';

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

.dashboard-grid-container label {
    @apply text-tertiary-txt;
}

.dashboard-grid-container select {
    @apply bg-secondary-bg border-quinary-bg;
}

body {
    @apply bg-primary-bg;
}

select,
button {
    @apply rounded-md;
}

input[type='checkbox'] {
    @apply rounded-sm;
}

body::-webkit-scrollbar {
    width: 10px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: #e4aa70 transparent;
}
