:root {
    --primary-bg-color: #131b21;
    --secondary-bg-color: #1c272f;
    --tertiary-bg-color: #2a343c;
    --quinary-bg-color: #e4aa70;
    --primary-txt-color: #ffffff;
    --secondary-txt-color: #fac189;
    --tertiary-txt-color: #e4aa70;
}

.form-group {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
}

.form-wrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    padding: 1.5rem;
}

html,
body {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    font-size: 1.6rem;
}

input,
textarea,
select {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 0.25rem !important;
    border: none;
    /* border: #e4aa70 0.025rem solid !important; */
    width: 100%;
}

input,
label,
select,
textarea,
button,
p,
a,
span,
div,
li {
    font-size: 1.6rem !important;
}

label,
button {
    color: var(--tertiary-txt-color);
    font-weight: 500;
}

label:hover,
button:hover {
    color: var(--secondary-txt-color);
    cursor: pointer;
}

input,
select,
textarea {
    padding: 1rem !important;
    color: var(--primary-txt-color);
}

select option {
    background-color: var(--primary-bg-color);
}

select:hover {
    background-color: var(--secondary-bg-color);
}

fieldset {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

label {
    display: block;
}

.form-main {
    margin: 0 auto;
    width: min(70rem, 100%);
    box-shadow:
        rgb(250, 193, 137, 0.1) 3px 3px 3px 3px inset,
        rgb(250, 193, 137) 5px 5px,
        rgb(250, 193, 137, 0.3) 10px 10px,
        rgb(250, 193, 137, 0.2) 15px 15px,
        rgb(250, 193, 137, 0.1) 20px 20px,
        rgb(250, 193, 137, 0.05) 25px 25px;
    border: 0.025rem var(--secondary-bg-color) solid;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
}

.wallet {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    margin: 0 auto;
    width: min(70rem, 100%);
    box-shadow:
        rgba(250, 193, 137, 0.1) 3px 3px 3px 3px inset,
        rgb(250, 193, 137) 5px 5px,
        rgb(250, 193, 137, 0.3) 10px 10px,
        rgb(250, 193, 137, 0.2) 15px 15px,
        rgb(250, 193, 137, 0.1) 20px 20px,
        rgb(250, 193, 137, 0.05) 25px 25px;
    border: 0.025rem var(--secondary-bg-color) solid;
    padding: 2rem;
}

.wallet p span {
    color: var(--tertiary-txt-color);
    font-weight: 500;
}

h1 {
    font-size: 5.5rem;
    font-weight: 900;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
}

h4 {
    font-size: 2.5rem;
    font-weight: 500;
}

h5 {
    font-size: 2rem;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-txt-color);
}

button {
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    box-shadow: -2px -3px 66px -30px rgb(228, 170, 112, 0.5) inset;
}

button:hover {
    box-shadow: -2px -3px 66px -30px rgb(228, 170, 112, 0.8) inset;
}
